@model FarmPhoto.Website.Models.GalleryModel

@{
    ViewBag.Title = "Photo Approval";
}

<div id="ContentContainer">

    <div class="ContentContainerHeader">
        <h2>Photo Approval</h2>
        <h3>Welcome, from here you can inact your power and decide if a photo is going to be allowed your website</h3>
    </div>

    @if (Model.PhotoModels.Count > 0)
    {
        foreach (var photo in Model.PhotoModels)
        {
        <div class="adminWrapper">
            <div class="AdminRow" id="Approve@(photo.PhotoId)">

                <div class="photoframe">
                    <img src="@Url.Action("Image", "Gallery", new { id = photo.PhotoId })" alt="" />
                </div>
                <div class="photofields">
                    <div class="Title formRow">
                        <label>@photo.Title</label>
                    </div>
                    <div class="formRow">
                        <p>@photo.Description</p>
                    </div>
                    <div class="formRow">
                        @photo.SubmittedBy
                    </div>
                    <div class="adminButtons">
                        <button id="" class="btn btn-primary Approve" type="submit">Approve</button>
                        <button id="Delete" class="btn btn-danger Delete" type="submit">Delete</button>
                    </div>
                </div>

            </div>
        </div>
        }
    }
    else
    {
        <div class="NoContentMessage">There are no Photos awaiting approval. </div>
    }


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.Approve').click(function () {
            var grandParent = this.parentElement.parentElement;
            var greatGrandParent = this.parentElement.parentElement.parentElement;
            var title = $(grandParent).find(".Title")[0].innerText;
            var photoid = greatGrandParent.id.substring(7);
            $.ajax({
                url: "@Url.Action("Approve", "Admin")",
                type: "POST",
                data: { id: photoid },
                success: function (data) {
                    if (data.Success) {
                        $(greatGrandParent).hide('slow', function () {
                            $(greatGrandParent.innerHTML = "<div class='SuccessMessage'>" + title + " has been Successesfully Approved</div>").fadeIn('slow');
                        });
                    }
                }
            });
        });

        $('.Delete').click(function () {
            var grandParent = this.parentElement.parentElement;
            var greatGrandParent = this.parentElement.parentElement.parentElement;
            var title = $(grandParent).find(".Title")[0].innerText;
            var photoid = greatGrandParent.id.substring(7);
            $.ajax({
                url: "@Url.Action("Delete", "Admin")",
                type: "POST",
                data: { id: photoid },
                success: function (data) {
                    if (data.Success) {
                        $(greatGrandParent).hide('slow', function () {
                            $(greatGrandParent.parentElement.innerHTML = "<div class='SuccessMessage'>" + title + " has been Successesfully Deleted</div>").fadeIn('slow');
                        });
                    }
                }
            });
        });

        $("body").on('click', '#Update', function () {
            alert("hie");
            var valid = true;
            var title = $('#Title').Text;
            var description = $('#Description').text();
            var tags = $('#Tags').text();

            $.ajax({
                url: "@Url.Action("Update", "Submission")",
                type: "POST",
                data: {
                    Title: "Title",
                    Description: "Description",
                    Tags: "Tags"
                },
                success: function (data) {
                    if (data.Success) {

                    }
                }
            });
        });

    });
</script>
