@model FarmPhoto.Website.Models.GalleryModel

@{
    ViewBag.Title = "Gallery";
}

<div id="ContentContainer">
    <div class="ContentContainerHeader">
        <h2>Gallery</h2>


        <h3>Welcome to the Galley when you can view photos submitted by others</h3>
        <h3>@Html.ActionLink("Submit a photo", "Index", "Submission")</h3>
    </div>
    @Html.Partial("_Gallery")

    <div class="pagination pagination-centered pageing">
        <ul>
            @if (ViewBag.Page > 1)
            {
                <li>
                    @Html.RouteLink("Previous", "GalleryPage", new{ page = ViewBag.Page - 1}, new { @class = "btn btn-large previouspage" })
                </li>
            }
            else
            {
                <li>
                     @Html.RouteLink("Previous", "GalleryPage", new{ page = ViewBag.Page - 1}, new { @class = "btn btn-large disabled previouspage" })
                </li>
            }

            @if (Model.PhotoModels.Count() < 12)
            {
                <li>
                    @Html.RouteLink("Next", "GalleryPage", new{ page = ViewBag.Page + 1}, new { @class = "btn btn-large disabled nextpage" })
                </li>
            
            }
            else
            {
                <li>
                    @Html.RouteLink("Next", "GalleryPage", new{ page = ViewBag.Page + 1}, new { @class = "btn btn-large nextpage" })
                </li>
            
            }
        </ul>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("a.disabled").bind("click", false);
    })

</script>
