@model FarmPhoto.Website.Models.GalleryModel 

@{
    ViewBag.Title = "" + @ViewBag.Tag + " Photos";
}

<div id="ContentContainer">

    <div class="ContentContainerHeader">
        <h2>@ViewBag.Tag Photos</h2>
        <h3>Each of these photos have been tagged with @ViewBag.Tag</h3>
    </div>
    @if (Model.PhotoModels.Count > 0)
    {
        @Html.Partial("_Gallery")
        <div class="pagination pagination-centered pageing">
        <ul>
            @if (ViewBag.Page > 1)
            {
                <li>
                    @Html.ActionLink("Previous", "Tag", "Gallery", new { tag = ViewBag.Tag, page = ViewBag.Page - 1 }, new { @class = "btn btn-large previouspage" })
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink("Previous", "Tag", "Gallery", new { tag = ViewBag.Tag, page = ViewBag.Page - 1 }, new { @class = "btn btn-large disabled previouspage" })
                </li>
            }

            @if (Model.PhotoModels.Count() < 12)
            {
                <li>
                    @Html.ActionLink("Next", "Tag", "Gallery", new { tag = ViewBag.Tag, page = ViewBag.Page + 1 }, new { @class = "btn btn-large disabled nextpage" })
                </li>
            
            }
            else
            {
                <li>
                    @Html.ActionLink("Next", "Tag", "Gallery", new { tag = ViewBag.Tag, page = ViewBag.Page + 1 }, new { @class = "btn btn-large nextpage" })
                </li>
            
            }
        </ul>
    </div>
    }
    else
    {
        <div class="NoContentMessage">No photos have been tagged with @ViewBag.Tag check back later</div>
    }
</div>