@model FarmPhoto.Website.Models.GalleryModel

<div class="photoalbum">
        @foreach (var photo in Model.PhotoModels)
        {
            <div class="photoframe">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Action("Image", "Gallery", new { id = photo.PhotoId })" alt="" />
                </a>
                @*Submitted by: @Html.ActionLink("" + @photo.SubmittedBy, "User", "Gallery", new{Id = @photo.SubmittedBy})*@
            </div>
        }
    </div>