@model FarmPhoto.Website.Models.GalleryModel



<div class="photoalbum">
    @foreach (var photo in Model.PhotoModels)
    {
        <div class="photoframe">
            <a href="@Url.Action("Photo", "Gallery", new { id = @photo.PhotoId })" class="openDialog" id= "@photo.PhotoId">
                <img src="@Url.Action("Image", "Gallery", new { id = photo.PhotoId })" alt="" />
            </a>

            Submitted by @Html.ActionLink("" + @photo.SubmittedBy, "UsersPhotos", "Gallery", new { username = photo.SubmittedBy }, null)
        </div>
    }
</div>

<div id="partial" class="dialog"></div>

<script type="text/javascript">

    $.ajaxSetup({ cache: false });

    $(document).ready(function () {

        var dialog = $("#partial").dialog({
            autoOpen: false,
            height: 'auto',
            width: 'auto',
            show: 'scale',
            hide: 'scale',
            resizable: true,
            modal: true,
            open: function (event, ui) {
                //$("body").on('click', '.ui-widget-overlay', function () {
                //    $("#partial").dialog('close');
                //});

                $("body").on('click', '.ui-dialog-titlebar-close', function () {
                    $("#partial").dialog("close");
                });
            }
        });

        $(".openDialog").on("click", function (e) {
            e.preventDefault();

            $.get(this.href).done(function (results) {
                dialog.html(results);
                dialog.dialog("open");
            });
        });

        $("body").on('click', '#Update', function () {
            
            var formData = {
                Title: $('#Title').val(),
                Description: $('#Description').val(),
                Tags: $('#TagString').val(),
                UserId: $('#UserId').val(),
                PhotoId: $('#PhotoId').val()
            };

            var valid = validateForm(formData);

            if (valid) {
                $.ajax({
                    url: "@Url.Action("Update", "Submission")",
                    type: "POST",
                    data: formData,
                    success: function (data) {
                        if (data.Success) {
                            alert("Successfully Update Photo");
                            $("#partial").dialog('close');
                        }
                    }
                });
            }
        });

        $("body").on('click', '#Delete', function () {
            $('<div></div>').appendTo('body')
                    .html('<div><h6>Are you sure you want to delete this photo?</h6></div>')
                    .dialog({
                        modal: true, title: 'Delete message', zIndex: 10000, autoOpen: true,
                        width: 'auto', resizable: false,
                        buttons: {
                            "YesButton": {
                                text:'Yes',
                                id: 'yesButton',
                                click: function() {
                                    $.ajax({
                                        url: "@Url.Action("Delete", "Submission")",
                                        type: "POST",
                                        data: { photoId: $('#PhotoId').val(), userId: $('#UserId').val() },
                                        success: function(data) {
                                            if (data.Success) {
                                                alert("Successfully Deleted Photo");
                                                $(this).dialog("close");
                                                $("#partial").dialog('close');
                                            }
                                        }
                                    });
                                }
                            },
                            "NoButton": {
                                text: 'No',
                                id: 'noButton',
                                click: function() {
                                    $(this).dialog("close");
                                    
                                } 
                            }
                        },
                        open: function () {
                        },
                        close: function (event, ui) {
                            $(this).remove();
                        }
                    });
        });

        var validateForm = function (data) {

            var valid = true;

            if (data.Title == "") {
                $('[data-valmsg-for="Title"]').text("Title must not be empty");
                $('[data-valmsg-for="Title"]').removeClass('field-validation-valid');
                $('[data-valmsg-for="Title"]').addClass('field-validation-error');
                valid = false;
            } else {
                $('[data-valmsg-for="Title"]').text("");
            }

            if (data.Description == "") {
                $('[data-valmsg-for="Description"]').text("Description must not be empty");
                $('[data-valmsg-for="Description"]').removeClass('field-validation-valid');
                $('[data-valmsg-for="Description"]').addClass('field-validation-error');
                valid = false;
            } else {
                $('[data-valmsg-for="Description"]').text("");
            }
            if (data.Tags == "") {
                $('[data-valmsg-for="TagString"]').text("Tags must not be empty");
                $('[data-valmsg-for="TagString"]').removeClass('field-validation-valid');
                $('[data-valmsg-for="TagString"]').addClass('field-validation-error');
                valid = false;
            } else {
                $('[data-valmsg-for="TagString"]').text("");
            }

            return valid;
        };
    });
</script>
