@using FarmPhoto.Domain
@using FarmPhoto.Website.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base/css")

    <!--[if lte IE 9]>
    <link href="~/Content/IeStyles.css" rel="stylesheet" />
    <![endif]-->

</head>
<body>
    <div id="alertArea">
        @Html.Partial("_PageMessaging")
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        @Html.MenuItemAction("Home", "Index", "Home")
                        @Html.MenuItemRoute("Gallery", "GalleryPage", "Index", "Gallery", new { page = 1 })
                        @Html.MenuItemAction("Submit", "Index", "Submission")

                        @if (Request.IsAuthenticated)
                        {
                            @Html.MenuItemRoute("My Photos", "MyPhotos", "MyPhotos", "Gallery", new { page = 1 })
                        }
                        @Html.MenuItemAction("Contact Us", "ContactUs", "Home")
                    </ul>

                    @using (Html.BeginForm("Search", "Gallery", FormMethod.Post, new { @class = "navbar-search pull-left" }))
                    {
                        <input data-val="true" type="text" id="Query" name="Query" class="search-query" placeholder="Search" value />
                    }

                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        @if (Request.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@CurrentUser.Username <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @*<li><a href="#">My Profile</a></li>*@
                                    @if (CurrentUser.IsAdministrator)
                                    {
                                        @Html.MenuItemAction("Administration", "Index", "Admin")
                                    }
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                                
                            @Html.MenuItemAction("Sign in", "SignIn", "Account")
                            <li class="divider-vertical"></li>
                            @Html.MenuItemAction("Register", "Create", "Account")
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="header">
        <img src="~/Content/Images/KensBanner.png" />
    </div>

    <div id="PageContent">
        <div id="InnerContent">
            @RenderBody()
        </div>

        @*<div id="RightColumn">
            <p>Right Column</p>
        </div>*@
        <div id="footer">
        <div class="footerImage">
            <img src="~/Content/Images/FarmPhotoLogo.png" /></div>
        <div class="footerLinks">
            <div class="footerItem">@Html.ActionLink("Home", "Index", "Home")</div>
            <div class="linkSeperator">|</div>
            <div class="footerItem">@Html.ActionLink("Gallery", "Index", "Gallery")</div>
            <div class="linkSeperator">|</div>
            <div class="footerItem">@Html.ActionLink("Submit", "Index", "Submission")</div>
            <div class="linkSeperator">|</div>
            <div class="footerItem">@Html.ActionLink("Contact Us", "ContactUs", "Home")</div>
        </div>
        <div class="copyRightSection">
            <div class="footerCopyRightNotice">Copyright &copy; 2013 FarmPhoto Limited. All rights reserved.</div>
            <div class="personalPlug">Website designed by joel_tennant@hotmail.com</div>
        </div>
    </div>
    </div>
    
    @*@RenderSection("scripts", required: true)*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('input, textarea').placeholder();
        });
    </script>
</body>
</html>
