@using FarmPhoto.Domain
@using FarmPhoto.Website.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")

    @Styles.Render("~/Content/themes/base/css")
    <script src="~/Scripts/Bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/Confirmation/jquery.confirm.js"></script>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

</head>
    <body>
        <div id="alertArea">
            @Html.Partial("_PageMessaging")
        </div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            @Html.MenuItemAction("Home", "Index", "Home")
                            @Html.MenuItemRoute("Gallery", "GalleryPage", "Index", "Gallery", new{page = 1 })
                            @Html.MenuItemAction("Submit", "Index", "Submission")

                            @if (Request.IsAuthenticated)
                            {
                                @Html.MenuItemRoute("My Photos", "MyPhotos", "MyPhotos", "Gallery", new{page = 1 })
                            }
                            else
                            { 
                                @Html.MenuItemAction("Login", "Login", "Account")
                                @Html.MenuItemAction("Register", "Create", "Account")
                            }
                            @if (Request.IsAuthenticated)
                            {
                                if (CurrentUser.IsAdministrator)
                                {
                                    @Html.MenuItemAction("Administration", "Index", "Admin")
                                }
                            }
                            @Html.MenuItemAction("About Us", "AboutUs", "Home")

                            @if (Request.IsAuthenticated)
                            {
                                @Html.MenuItemAction("Logout", "Logout", "Account")
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="header">
            <img src="~/Content/Images/KensBanner.png" />
        </div>

        <div id="PageContent">
            <div id="InnerContent">
                @RenderBody()
            </div>

            @*<div id="RightColumn">
            <p>Right Column</p>
        </div>*@

        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
