@using FarmPhoto.Domain
@model FarmPhoto.Website.Models.PhotoModel 

<div class="portraitframe" style="width: @Model.Width; height: @Model.Height">
    
    <img src="@Url.Action("Image", "Gallery", new { id = Model.PhotoId, thumbnail = false})" alt="" />

</div>


@*@if (CurrentUser.Id == Model.UserId)
{
    using (Ajax.BeginForm(new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "partial"}))
    {
        <div class="photofields">
        <div class="formRow">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="formRow">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="formRow">
            @Html.LabelFor(m => m.TagString)
            @Html.TextBoxFor(m => m.TagString)
            @Html.ValidationMessageFor(m => m.TagString)
        </div>
        <input type="submit" value="Update"/>
    </div>
    }
}
else
{
    *@<div class="photofields">
        <div class="formRow">
            @Model.Title
        </div>
        <div class="formRow">
            @Model.Description
        </div>
        <div class="formRow">
            @foreach (var tag in Model.Tags)
            {
                <div class="tag">
                    <a href="@Url.Action("Index", "Home")">@tag </a>
                </div>
            }
            
        </div>
    </div>
@*}*@
<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="close">
    <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
    <span class="ui-button-text">close</span>
</button>

<script type="text/javascript">
    
    $(".ui-dialog-titlebar-close").on("click", function () {
        $("#partial").dialog("close");
        
    });

    $(".ui.widget-overlay").click(function () {
        alert('hi'); 
    });

    $('.ui-widget-overlay').click(function () { $("#partial").dialog("close"); });

    $(".ui.widget-overlay").on('click', function () {
        alert("HI");
        $("#partial").dialog('close');
    });

</script>


