@using FarmPhoto.Domain
@model FarmPhoto.Website.Models.PhotoModel

<div class="portraitframe" style="width: @Model.Width; height: @Model.Height">
    <img src="@Url.Action("Image", "Gallery", new { fileName = Model.FileName, thumbnail = false })" alt="" />
</div>
<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="close">
    <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
    <span class="ui-button-text">close</span>
</button>

@if (CurrentUser.Id == Model.UserId)
{
    <div class="form-photoupdate">
        <div class="updatephotofields">

            @Html.HiddenFor(m => m.PhotoId)
            @Html.HiddenFor(m => m.UserId)
            <div class="formRow">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </div>
            <div class="validationmessage">
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="formRow">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
            </div>
            <div class="validationmessage">
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div class="formRow">
                @Html.LabelFor(m => m.TagString)
                @Html.TextBoxFor(m => m.TagString)
            </div>
            <div class="validationmessage">
                @Html.ValidationMessageFor(m => m.TagString)
            </div>
            <div class="rate"></div>
            <button id="Update" class="btn btn-primary" type="submit">Update</button>
            <button id="Delete" class="btn btn-danger" type="submit">Delete</button>

        </div>
    </div>
}
else
{
    <div class="photofields">
        <div class="formRow">
            <label>@Model.Title</label>
        </div>
        <div class="formRow">
            <p>@Model.Description</p>
        </div>
        <div class="formRow">
            <div class="tag">
                @foreach (var description in Model.Tags)
                {
                    @Html.RouteLink(description, "Tags", new{tag = description, page = 1}, new {@class = "btn btn-mini"})
                }
            </div>

        </div>
        <div class="rate"></div>
    </div>
}

