@model FarmPhoto.Website.Models.UserModel

@{
    ViewBag.Title = "Create";
}

<div id="ContentContainer">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="formRow">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
    </div>
    <div class="formRow">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress)
        @Html.ValidationMessageFor(m => m.EmailAddress)
    </div>
    <div class="formRow">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="formRow">
        @Html.LabelFor(m => m.Surname)
        @Html.TextBoxFor(m => m.Surname)
        @Html.ValidationMessageFor(m => m.Surname)
    </div>
    <div class="formRow">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="formRow">
        @Html.LabelFor(m => m.ReenterPassword)
        @Html.PasswordFor(m => m.ReenterPassword)
        @Html.ValidationMessageFor(m => m.ReenterPassword)
    </div>
   <div class="formRow">
        @Html.LabelFor(m => m.Country)
        @Html.TextBoxFor(m => m.Country)
        @Html.ValidationMessageFor(m => m.Country)
    </div>
    
    <input type="submit" value="Create"/>
}
</div>

