@model FarmPhoto.Website.Models.LoginModel

@{
    ViewBag.Title = "Sign in";
}

<div id="ContentContainer">
    <div class="ContentContainerHeader">
        <h2>Please sign in</h2>
    </div>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()

        <div class="accountRow">
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div class="accountRow">
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="accountRow">
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                Remember Me
            </label>
        </div>
        
        <button class="btn btn-primary" type="submit">Sign in</button>
        <div>
            @Html.ActionLink("or Sign up", "Create")
        </div>
    }
</div>
