@model FarmPhoto.Website.Models.PasswordResetModel 
@{
    ViewBag.Title = "Reset Password";
}

<div id="ContentContainer">
    <div class="ContentContainerHeader">
        <h2>Create a new Password</h2>
        <h3>Enter your new password below</h3>
    </div>
    
    @if (Model.HasValidToken)
    {
        using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class = "form-createaccount"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Username)
            @Html.HiddenFor(m => m.Token)

            @Html.PasswordFor(m => m.Password, new {placeholder = "Password"})
            @Html.PasswordFor(m => m.ReenterPassword, new {placeholder = "Re-enter password"})

            <button class="btn btn-primary" type="submit">Reset Password</button>
        }
    }
  

</div>