@model FarmPhoto.Website.Models.GalleryModel
@{
    ViewBag.Title = "Farm Photo";
}

<div id="ContentContainer">
    <div id="MostRecentPicture">
        <div class="ContentContainerHeader">
            <h2>Recently Added Photos</h2>
        </div>

        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                @{
                    var photoNumber = 0; 
                    foreach (var photo in Model.PhotoModels)
                    {

                        if (photo.PhotoId == Model.PhotoModels.FirstOrDefault().PhotoId)
                        {
                            <li data-target="#myCarousel" data-slide-to="@photoNumber" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#myCarousel" data-slide-to="@photoNumber" class></li>

                        }
                        photoNumber++; 
                    }
                }
            </ol>
            <div class="carousel-inner">
                @foreach (var photo in Model.PhotoModels)
                {
                    if (photo.PhotoId == Model.PhotoModels.FirstOrDefault().PhotoId)
                    {
                        <div class="item active">
                            <img src="@Url.Action("Image", "Gallery", new { fileName = photo.FileName, thumbnail = false })" alt="" />
                            <div class="carousel-caption">
                                <h4>@photo.Title</h4>
                                <p>
                                    @photo.Description
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <img src="@Url.Action("Image", "Gallery", new { fileName = photo.FileName, thumbnail = false })" alt="" />
                            <div class="carousel-caption">
                                <h4>@photo.Title</h4>
                                <p>
                                    @photo.Description
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>
