@model FarmPhoto.Website.Models.SubmissionModel

@{
    ViewBag.Title = "Submission";
}

<div id="ContentContainer">
    @using (Html.BeginForm("Index", "Submission", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div>
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div>
            @Html.LabelFor(m => m.Tags)
            @Html.TextBoxFor(m => m.Tags)
            @Html.ValidationMessageFor(m => m.Tags)
        </div>
        <div>
            <input type="file" id="File" name="File" />
            <input type="submit" value="OK" />
        </div>
    }
</div>
