@model FarmPhoto.Website.Models.SubmissionModel

@{
    ViewBag.Title = "Submission";
}
<script src="~/Scripts/Plupload/plupload.js"></script>
<script src="~/Scripts/Plupload/plupload.full.js"></script>
<script src="~/Scripts/Plupload/jquery.plupload.queue.js"></script>
<script src="~/Scripts/Plupload/jquery.ui.plupload.js"></script>

<div id="ContentContainer">
    <div class="ContentContainerHeader">
        <h3>Submit Photo</h3>
    </div>

    <div>File:</div>
    <div id="filelist">
        <a id="pickfiles" href="javascript:;">[Select file]</a>
    </div>

    <div id="photoPreview" class="photoframe" style="display:none">
       
    </div>

    @using (Html.BeginForm("Index", "Submission", FormMethod.Post, new { enctype = "multipart/form-data", id = "submissionForm", style = "display:none" }))
    {
        
        @Html.HiddenFor(m => m.FileName)
        
        <div class="formRow">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="formRow">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="formRow">
            @Html.LabelFor(m => m.Tags)
            @Html.TextBoxFor(m => m.Tags)
            @Html.ValidationMessageFor(m => m.Tags)
        </div>
        
        <div class="formRow">
            <input id="SubmitButton" type="submit" value="OK" disabled="disabled" />
        </div>
    }

</div>

<script type="text/javascript">
    $(function () {

        var uploader = new plupload.Uploader({
            runtimes: 'html5,html4',
            browse_button: 'pickfiles',
            url: "@Url.Action("Upload", "Submission")",
            max_file_size: '10mb',
            multi_selection: false,
            unique_names: true,
            filters: [{ title: "Image files", extensions: "jpg,gif,png" }]
       });

        uploader.init();

        uploader.bind('FilesAdded', function (up, files) {
            $('#pickfiles').text('[Change file]');
            $('#submissionForm').slideDown('slow');
            
            //This was put in so that only one file can be selected at a time
            //if a second file is selected the first is removed from the list 
            $('#' + up.files[0].id).remove('div');

            if (up.files.length > 1) {
                up.files = $.grep(up.files, function (value) {
                    return value != up.files[0];
                });
            }
            
            for (var i in files) {
                
                $('#FileName').val(files[i].id + files[i].name.substring(files[i].name.indexOf('.')));
                $('#filelist').prepend('<div id="' + files[i].id + '">' + files[i].name + ' (' + plupload.formatSize(files[i].size) + ') <b></b> </div>');
            }

            uploader.start();
        });

        uploader.bind('UploadProgress', function (up, file) {
            $('#' + file.id).children('b').html('<span>' + file.percent + "%</span>");
            if (file.percent >= 100) {
                $('#SubmitButton').removeAttr('disabled');
                
                var filename = file.id + file.name.substring(file.name.indexOf('.'));
                $('#photoPreview').html('<img src="/Gallery/Preview?filename=' + filename + '" alt=""/>');
                $('#photoPreview').slideDown('slow');
            }
        });

        $('#uploadfiles').click(function () {

            return false;
        });
    });

</script>
