@model FarmPhoto.Website.Models.SubmissionModel

@{
    ViewBag.Title = "Submission";
}
<script src="~/Scripts/Plupload/plupload.js"></script>
<script src="~/Scripts/Plupload/plupload.full.js"></script>
<script src="~/Scripts/Plupload/jquery.plupload.queue.js"></script>
<script src="~/Scripts/Plupload/jquery.ui.plupload.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

<div id="ContentContainer">
    <div class="ContentContainerHeader">
        <h2>Submit a new Photo</h2>
        <h3>Welcome to My Photos from here you can review any photos you may have submitted</h3>
    </div>

    <div id="submissionContent">
        <div><h4>Add Photo</h4></div>
        <div id="filelist">
            <div id="fileuploading"></div>

            <div id="progress-bar" style="display: none">
                <div id="status"></div>
            </div>

            <div id="fileUploadProgress"></div>

        </div>
        <a id="pickfiles" href="javascript:;">[Select file]</a>

        @using (Html.BeginForm("Index", "Submission", FormMethod.Post, new { enctype = "multipart/form-data", id = "submissionForm", style = "display:none" }))
        {
            <div id="photoPreview" class="photoframe">
            </div> 
            @Html.HiddenFor(m => m.FileName)
        
            <div class="submissionRows">
                <div class="formRow">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
                <div class="formRow">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
                <div class="formRow">
                    @Html.LabelFor(m => m.Tags)
                    @Html.TextBoxFor(m => m.Tags)
                    @Html.ValidationMessageFor(m => m.Tags)
                </div>

                <div class="submissionbutton">
                    <input id="SubmitButton" type="submit" value="Submit" disabled="disabled" />
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">


    $(function () {

        var uploader = new plupload.Uploader({
            runtimes: 'html5,html4',
            browse_button: 'pickfiles',
            url: "@Url.Action("Upload", "Submission")",
            max_file_size: '10mb',
            multi_selection: false,
            unique_names: true,
            filters: [{ title: "Image files", extensions: "jpg,gif,png" }]
        });

        uploader.init();

        uploader.bind('FilesAdded', function (up, files) {
            startProgressBar();
            $('#pickfiles').text('[Change file]');
            $('#submissionForm').slideDown('slow');

            $('#photoPreviewImage').fadeOut();

            //This was put in so that only one file can be selected at a time
            //if a second file is selected the first is removed from the list 
            if (up.files.length > 1) {
                up.files = $.grep(up.files, function (value) {
                    return value != up.files[0];
                });
            }

            for (var i in files) {
                $('#FileName').val(files[i].id + files[i].name.substring(files[i].name.indexOf('.')));
                $('#fileuploading').text('' + files[i].name + ' (' + plupload.formatSize(files[i].size) + ')');
                $('#fileUploadProgress').text('');
            }

            uploader.start();
        });

        uploader.bind('UploadProgress', function (up, file) {

            $('#fileUploadProgress').html('<b><span>' + file.percent + "%</span></b>");

            
            if (file.percent >= 100) {
                $('#SubmitButton').removeAttr('disabled');

                var filename = file.id + file.name.substring(file.name.indexOf('.'));
                $('#photoPreview').html('<img src="/Gallery/Preview?filename=' + filename + '" alt="" id="photoPreviewImage"/>');
            }
            
            $('#status').animate({ width: '' + file.percent + '%' }, 500, function () {
                if (file.percent >= 100) {
                    $('#photoPreviewImage').fadeIn('slow');
                }
            });

        });

        $('#uploadfiles').click(function () {

            return false;
        });
    });

    var startProgressBar = function () {
        $('#progress-bar').on().fadeIn();
        $('#status').on().animate({ width: '0%' }, 100);
    };

</script>
